.sec-footer {
  background: navajowhite;
  direction: rtl;
  text-align: right;
  color: #333;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  margin-top: 50px;
}
.sec-footer .desc-box {
  background: transparent;
  border: 0;
}
.sec-footer .desc-box .card-title::after {
  content: " ";
  background: #d39e00;
  display: block;
  width: 95%;
  height: 0.2rem;
  margin-top: 0.3rem;
}
.sec-footer .desc-box .card-text {
  font-family: iranyekan_light;
  text-align: justify;
}

.text-sm-right {
  font-size: 17px;
  font-weight: 700;
}

.sec-sub-footer {
  background: #555;
  direction: rtl;
  text-align: right;
  color: #000;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
}
.sec-sub-footer a {
  font-size: 0.9rem;
}

/*------------------*/
.snip1472 {
  position: relative;
  font-size: 20px;
  color: #777;
  width: 45px;
  margin: 4px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1472:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #777;
  content: "";
  z-index: -1;
  border-radius: 50%;
}
.snip1472:before {
  color: #777;
}
.snip1472:before,
.snip1472:after {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.snip1472:hover,
.snip1472:active,
.snip1472.hover {
  color: #000;
}
.snip1472:hover:after,
.snip1472:active:after,
.snip1472.hover:after {
  border-color: #000 transparent #000 transparent;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.footer-img {
  width: 150px !important;
  height: 150px !important;
}

.card-text > .row {
  margin-top: 30px;
}

@media (min-width: 1200px) {
}
.sec-footer > .container {
  max-width: 1400px;
}
